body{
    font-size: 1.2em;
}

h1{
    text-align: center;
}

.personal{
    background-color: purple;
    color: #fff;
    padding-bottom: 10px;
}


.working{
    background-color: aliceblue;
    color: #000;
    padding-bottom: 10px;

}

.education{
    background-color: crimson;
    color: #313131;
    padding-bottom: 10px;
}

.hobbies{
    background-color: coral;
    color: cyan;
    padding-bottom: 10px;
}