/*body { background-color: black;}


h1 {color: darkturquoise;
    background-color:black;
}

p { color: black;
    background-color: turquoise;
    font-style: italic;
}

div1 { color:lemonchiffon} */




