.personal {
    background-color: aquamarine;
    color: red;
}
.experience {
    background-color: blueviolet;
    color: sandybrown;
}
.education {

    background-color: coral;
    color: springgreen;
}

.hobbies {
    background-color: darkgreen;
    color: violet;
}
.maintitle {
    background-color: teal;
    color: white;
}