#personalData {
  background-color: aqua;
  color: darkgreen;
}

#workingExperience {
  background-color: brown;
  color: darkgrey;
}

#education {
  background-color: cornflowerblue;
  color: darkmagenta;
}

#hobbies {
  background-color: darkgreen;
  color: darkorange;
}
