@media screen {
  body {
    background-color: rgb(200, 200, 200);
  }
  .page {
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 10px 10px 10px 0px black;
  }
}

@media print {
  .page {
    margin: 0 auto;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: white;
  width: 21cm;
  height: 29.7cm;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-rows: 4.5cm 1cm Calc(29.7cm - 4.5cm - 1cm);
  flex-direction: column;
  overflow:hidden;
}

.page > * {
  padding-left: 1cm;
  padding-right: 1cm;
}

h1 {
  margin: 0;
}

h2 {
  border: solid 2px #f0594d;
  padding: 5px;
  max-width: min-content;
  white-space: nowrap;
}

h3 {
  margin-bottom: 0;
}

h4 {
  margin: 5px 0px 0px 0px;
}

h2,
h3,
h4 {
  color: #f0594d;
}

.timespan {
  font-size: medium;
}

.position {
  color: black;
}

.company {
  color: black;
  font-weight: normal;
}

.school {
  color: black;
  font-weight: normal;
}

.tasks {
  padding: 0;
}

.tasks > li {
  list-style: disc;
  list-style-position: inside;
}

.tasks > li::marker {
  color: #f0594d;
}

header {
  color: #fff;
  background-color: #454f60;
  padding-bottom: 10px;
  padding-top: 0.5cm;
}

#intro {
  margin: 0;
}

#contactData {
  color: #fff;
  background-color: #3c424c;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#email {
  text-align: center;
}

#face {
  float: right;
  margin: 0;
}

#title {
  color: #f0594d;
  margin: 0;
  font-weight: bold;
}

#face img {
  width: 120px;
  height: 120px;
  border: solid 5px #f0594d;
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  padding-bottom: 0.5cm;
}

ol {
  padding: 0;
  list-style-type: none;
}
