:root {
  --standard-fontsize: small;
  --emphasis-color: #f0594d;
}

@media screen {
  body {
    background-color: rgb(200, 200, 200);
  }
  .page {
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 10px 10px 10px 0px black;
  }
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }
  .page {
    margin: 0;
    padding: 0;
  }
}

.page {
  background-color: white;
  width: 21cm;
  height: 29.7cm;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  font-size: var(--standard-fontsize);
}

.page > * {
  padding-left: 1cm;
  padding-right: 1cm;
}

header {
  color: #fff;
  background-color: #454f60;
  padding-top: 0.5cm;
  display: flex;
}

header h1 {
  margin: 0;
}

header #title {
  color: var(--emphasis-color);
  margin: 0;
  font-weight: bold;
}

header #face {
  float: right;
  margin: auto 0;
}

header #face img {
  width: 100px;
  height: 100px;
  border: solid 5px var(--emphasis-color);
  border-radius: 50%;
}

header #intro {
  margin: 10px 0px;
}

section#contactData {
  color: #fff;
  background-color: #3c424c;
  display: flex;
  justify-content: space-between;
}

section#contactData * {
  vertical-align: middle;
  margin: 0.1em 0;
}

section#contactData .material-icons {
  margin-right: 0.1em;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  padding-bottom: 0.5cm;
}

main > * {
  max-width: 50%;
}

main h2 {
  color: var(--emphasis-color);
  border: solid 2px var(--emphasis-color);
  padding: 5px;
  max-width: min-content;
  white-space: nowrap;
}

main h3 {
  color: var(--emphasis-color);
  margin-bottom: 0;
}

main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main ol {
  padding: 0;
  list-style-type: none;
}

main #workExperience .tasks li{
  margin-right: 1em;
}

main #workExperience h4 {
  color: var(--emphasis-color);
  margin: 5px 0px 0px 0px;
}

main #workExperience .timespan {
  font-size: var(--standard-fontsize);
}

main #workExperience .position {
  color: black;
}

main #workExperience .company {
  color: black;
  font-weight: normal;
}

main #workExperience .tasks {
  padding: 0;
  font-size: var(--standard-fontsize);
}

main #workExperience .tasks > li {
  list-style: disc;
  list-style-position: outside;
  margin-left: 1.5em;
}

main #workExperience .tasks > li::marker {
  color: var(--emphasis-color);
}

main #education .degree {
  color: black;
}

main #education .school {
  color: black;
  font-weight: normal;
}

main #skills .skill {
  text-align: right;
}

main #skills .proficency {
  display: grid;
  grid-auto-flow: column;
}

main #skills .proficency .dot {
  background-color: #f9b8a3;
  width: 1em;
  height: 1em;
  margin: 0 0.5em;
  border-radius: 50%;
}

main #skills .proficency .dot.filled {
  background-color: var(--emphasis-color);
}

main #certificates li.certificate {
  margin-bottom: 1em;
}

main #certificates .certificateName {
  color: black;
  font-size: var(--standard-fontsize);
}

main #certificates .certificateDescription {
  margin: 0;
}

main #organisations .organisationName {
  color: black;
  font-size: var(--standard-fontsize);
}

main #organisations .organisationDescription {
  margin: 0;
}

main #interests ul {
  list-style-type: none;
  list-style-position: inside;
  display: flex;
  flex-wrap: wrap;
}

main #interests ul li:not(:last-child) {
  padding-right: 0.5em;
  margin-right: 0.5em;
  border-right: 1px solid black;
}
