body, html {
    margin: 0;
    padding: 50px;
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#heading {
    text-align: center;
}

#container {
    height: 100%;
    width: 90%;
    margin: auto;
    border-color: #f3efef;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
}
.personal {
    background-color: rgb(245, 244, 244);
    color: rgb(7, 7, 7);
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    border-color: lawngreen; solid, 5px;
    margin: 10px;
}

.work {
    background-color: rgba(49, 204, 204, 0.171);
    color: black;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
}

.education {
    background-color: rgba(1, 86, 243, 0.212);
    color: black;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
}

.hobbies {
    background-color: rgba(214, 55, 2, 0.075);
    color: black;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 9px 6px -1px #000000;
    margin: 10px;
}

h1 {
    color: black;
}