body, html {
    margin: 0;
    padding: 50px;
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.personal {
    background-color: grey;
    color: white;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
}

.work {
    background-color: rgb(125, 216, 216);
    color: black;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
}

.education {
    background-color: cornflowerblue;
    color: black;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
}

.hobbies {
    background-color: rgb(216, 161, 142);
    color: black;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 9px 6px -1px #000000;
}

h1 {
    color: black;
}